/*Code for header part*/


*{box-sizing:border-box;}
.container{
	width:90%;
	margin:0 auto;
}

.clean{
	clear:both;
}

body{
	font-family:  Arial, Helvetica, Sans-serif;
	padding:0px;
	margin:0px;
	background-color:rgba(242, 242, 242,0.4);
	}


/*top*/
#topBanner{
	width:70%;
	height:125px;
	margin: 0 auto;
	background:#fff;

}
#topBanner img{
	width:100%;
	height:100%;
}



/*NAvbar code */
.navbar
{margin-top:10px;
	width:100%;
	height:70px;
	position:absolute;
	display:block;
	border-bottom:1px solid #A1A1A1;
	border-top:1px solid #A1A1A1;
	background-color: #fff;
}



.logo{
	padding:5px;
	float:left;
	width:20%;
	height:100%;
	display:inline-block;
	position:relative;
}
.logo img{width:80%;
margin:0 auto;
height:60px;}

.logo h3{
	padding:0px;
	height:100%;
	width:100%;
	margin:0px
}
.search-box{	
	float:left;
	width:40%;
	display:inline-block;
	height:100%;
	position:absolute;
}

.search-box input
{
	vertical-align: baseline;
	margin:12px 0px 12px 10px;
	width:75%;
	height:60%;
	float:left;
	display:block;
	position:relative;
	padding:10px;
	border-radius:3px;
	border:0.5px solid #a0a0a0;
}


.search-box button
{
	background-color:#e62e04;
	margin:12px 0px 12px 0px;
	border:0px;
	width:20%;
	height:60%;
}
.search-box button:hover{
	background-color:#ff4d4d;
}


.buy-menu{
	float:right;
	width:40%;
	margin-left:10px;
	height:100%;
	
}
.buy-menu ul {
	
	width:100%;
	height:100%;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}

.buy-menu li {
	
	float: right;
}

.buy-menu li a {

	display: block;
	position:relative;
    text-align:center;
    padding: 14px 0px;
	margin-right:10px;
    border-bottom: 2px solid #e6e6e6;
	text-decoration: none;
}

.buy-menu li:hover a{
    border-bottom: 2px solid #e62e04;
	
}

.buy-menu li span
{
	font-size:17px;
	padding:2px;
	text-align:center;
	bottom:35px;
	color:#000;
}

.buy-menu li:hover span{
	color:#e62e04;
}

.search-box img
{	z-index:10;
	height:15px;
	width:20px;
	margin:0px;
}

.buy-menu #navicon
{	display:inline;
	z-index:10;
	height:20px;
	width::50px;
}








/*Ul1 is for aside that is the vertical navebar of left side*/
.ul1
{
	width:20%;
	height:480px;
	background-color: #fff;
	display:block;
	float:left;
	position:relative;
}


.ul1 ul
{	
    list-style-type: none;
	display:block;
}

.ul1 li{
	position:relative;	
	width:100%;
	margin:0px;
	display:block;
}
.ul1 li img
{	display:inline;
	height:20px;
	width:20px;
	padding:3px;
}

#categoryHeading{
    display: block;
    color: #000000;
	padding:6px 10px;
    text-decoration: none;
	background-color:#ccccb3;
}

.ul1 li a {
    display: block;
    padding:5px 0px;
	line-height:18px;
	font-size:16px;
	color: #A1A1A1;
    text-decoration: none;
	text-align:center;
}


.ul1 a:hover
{
    color: #ff4d4d;
}



#mainSlider{
	float:left;
	width:60%;
	height:480px;
	display:block;
}

#sideBanner{
	float:left;
	width:20%;
	height:480px;
	display:block;
	background-image:url("Laptop.jpg");
}

/* Code for middle area 
-----------------------------------------------------------
*/

.product_box{
	padding-bottom:5px;
	margin-top:40px;
	width:100%;
	height:520px;
	border-top:3px solid #A0A0A0;
	overflow:hidden;
}

.brands{
	width:15%;
	height:100%;
	display:inline;
	border-right:1px solid #A0A0A0;
    position:relative;
	background-color:#fff;
	float:left;
	z-index:0;
}
.heading{
	padding-top:15px;
	background:	#ccccb3;
	width:100%;
	height:60px;
	position:relative;
	text-align:center;
	color:white;
	font-size:18pt;
	
	border-bottom:1px solid #d9d9d9;
}
.heading:hover{
	z-index:25;
	box-shadow:3px 3px 3px #a0a0a0;
}
.brands a{
	color:#B0B0B0;
	font-size:14pt;
	display:block;
	text-align:center;
	text-decoration:none;
	padding:10px 0px;
	line-height:16px;
}



.slider{
	border-right:0.5px solid #a0a0a0;
	width:35%;
	height:100%;
	float:left;
	display:inline;
}




.slides {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
	transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide:hover { opacity: 0.5; }

input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container  { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

/*code for categories page*/

.category-banner{
font-family: arial;
	width:100%;
	height:70px;
	background-image:url("back.jpg"); 
}
.category-banner .container{
padding-top:20px;
}

.category-banner .container h1{
display:inline;
padding-right:10px;
font-size:22pt;

}

.category-banner .container p{
display:inline;
padding-right:10px;
font-size:12pt;
font-weight:550;

}

.breadbeds{
	width:100%;
	height:40px;
	padding:5px;
	padding-right:20px;
}

.breadbeds span{
display:inline;

font-size:12pt;
font-family:arial;
font-weight:400;
}

.category-nav{
	width:100%;
	height:120px;
	margin-bottom:25px;
	box-sizing:border-box;
	border-right:0.10px solid #a0a0a0;
	border-bottom:0.10px solid #a0a0a0;
}

.category-nav .category-line{
	height:50%;
}



.category-nav .category-line .category-type{
	width:25%;
	height:100%;
	background-color:#fff;
	color:rgba(0,0,0,.7);
	font-family:Arial;
	display:block;
	float:left;
	border-left:0.10px solid #a0a0a0;
	border-top:0.10px solid #a0a0a0;
}
.category-nav .category-line .category-type:hover , .ative{
	border:2px solid #ff471a;
}


.category-type .pic{
	display:inline-block;
	width:25%;
	height:100%;
	float:left;
	padding:4px 7px 4px 7px;
}

.category-type .pic img{
	width:100%;
	height:100%;
}

.category-type .description{
	display:inline-block;
	width:75%;
	height:100%;
	float:left;
}

.category-type .description h2{
font-family:arial;
font-size:12pt;
font-weight:600;
margin-top:5px;
}


.category-description{
	display:inline-block;
	width:70%;
	height:100%;
	float:left;
}
.category-box{
	padding:20px 40px 20px 40px;
	border-bottom:1px solid #e6e6e6;	
	width:100%;
	background-color:#fff;
	color:#ff471a;
	font-family:Arial;
	height:130px;
	
}

.category-box a{
	color:#ff471a;
	display:block;
	font-size:18pt;
	font-weight:600;
	text-decoration:none;
}
.category-box a:hover{
	color:#ff471a;
	text-decoration:;
}

.category-box ul{
	float:left;
	margin-top:15px;
	width:30%;
	color:#000;
	font-size:11pt;
	font-weight:500;
	list-style:none;
	display: block;
}

.category-box ul li a{
		color:#000;
	font-size:11pt;
	line-height:15pt;
	font-weight:500;
}


.right-aside{
	float:left;
	margin-left:20px;
	display:inline-block;
	width:25%;
}
.right-aside-details{
	background-color:#fff;
	padding:7px;
	margin:0px 0px 7px 0px;
}
.right-aside-details h2{
	font-family:Arial;
	font-size:12pt;
}



/*--------*/

.product_col1{
	width:30%;
	position:relative;
	height:100%;
	float:left;
	display:block;
}

.top-product{
	top:0;
	width:100%;
	position:relative;
	display:block;
	height:50%;
}
.top-product img{
	padding:5px;
	height:100%;
	width:100%;
}
.sub-product{
	bottom:0;
	position:absolute;
	width:100%;
	height:50%;
	display:block;
}


.sub-products{
	width:50%;
	height:100%;
	position:relative;
	display:block;
	float:left;
}
.sub-products img{
	top:25px;
	padding:3px;
	height:75%;
	width:100%;	
}


.sub-product-name{
	text-align:center;
	height:30px;
	width:100%;
}

.product_col2{
	width:20%;
	padding:0px;
	margin:0px;
	height:100%;
	float:left;
	display:block;
}

.col2-product{
	top:0;
	width:100%;
	position:relative;
	display:block;
	height:50%;
}
.col2-product img{
	bottom:0px;
	height:85%;
	width:100%;
}
.col2-heading{
	top:0px;
	padding:5px;
	font-size:16pt;
	text-align:center;
	height:25px;
	width:100%;
}


.top-product, .sub-products,.col2-product{
	border-right:0.5px solid #a0a0a0;
	border-bottom:0.5px solid #a0a0a0;
	z-index:1;
}	

.top-product:hover, .sub-products:hover,.col2-product:hover{
	box-shadow:2px 2px 2px #a0a0a0;
	z-index:20;
}

/* Code for signin singup pages
-----------------------------------------------------------------------------------////
*/

#internaldiv{ margin-top:30px;background-color: #fcfdff; height:520px; width:40%; position: relative; overflow-y:hidden;
				 border:1px solid #818282;  margin: 0 auto;}
	

.logmod__tabs{
  list-style: none;
  padding: 0;
  margin: 1px;
}
.logmod__tabs::after {
  clear: both;
  content: " ";
  display: table;
}
.logmod__tabs li.current a {
  background: #FFF;
  color: #333;
}
.logmod__tabs li a {
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
  background: #D2D8D8;
  line-height: 72px;
  height: 72px;
  text-decoration: none;
  color: #809191;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;

}
.logmod__tabs li a:focus {
  outline: dotted 2px;
}
.logmod__tabs li a:hover {
  opacity:0.7;
}


 .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4d79ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 95%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0px;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


@media only screen and (max-width: 760px) {
	#tags{
		display:none;
	}
	#sideBanner{
		display:none;
	}
	#mainSlider{
		width:80%;
	}
	
	
	.slider{display:none;}
	.brands{width:25%;}
	.product_col1{width:50%;}
	.product_col2{width:25%;}
	.WhyUs{display:none;}
	#internaldiv{width:80%;}
	.downloadApp,.subscribeForm,.socialNetwork {display:none;}
}

